
.my-dark-blue{
    background-color: #3a546d
}

.my-header-title{
    font-size: 1rem;
}

.my-navbar{
    font-weight: 900;
    color: white;
}
/* ! jumbotron */
.jumbotron{
    background-color:#1abc9c ;
}
.my-user-svg{
    width:50%;
}

.my-width{
    width: 80px;
    border-bottom: 1px solid white;
}


/* ! portfolio */
.portfolio{
    padding-top: 1rem;
}
.my-img-small{
    width:100%;
    margin-bottom: 1rem;
    border-radius: 20px;
}
/* About */
.about{
    background-color: #1abc9c;
    color: white;
}

.my-small-box-height{
    height: 30px;
    margin-bottom: .5rem;
   /*  margin-bottom: 1rem; */
}


.my-height-20{
    height: 300px;
}

/* ! section about */
.my-margin{
    margin: 0 20px;
}

.my-outline-btn{
    border: 1px solid white;
}
/* !section contact */

.contact form label{
    display: block;
}

.contact form input{
    border: none;
    display: block;
    border-bottom: 2px solid rgb(19, 19, 20);
    margin-bottom: 1rem;
}

.contact form textarea{
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid rgb(19, 19, 20);
}

.contact form input:focus-visible{
    outline-style: none;
}

.contact form textarea:focus-visible{
    outline-style: none;
}

.my-input-size{
    height: 1rem;
    width: 350px;
}

.my-text-area{
    width: 350px;
}

.my-submit-btn{
    background-color: #1abc9c;
    border-radius: 10px;
    width: 60px;
    height: 40px;
}


/* ! Footer */

.my-footer-top{
    background-color:#3a546d ;
}

.my-footer-bottom{
    background-color:rgb(44, 62, 80);
    line-height: 35px;
}

