header{

}

.my-dark-blue{
    background-color: #3a546d
}

.my-header-title{
    font-size: 1rem;
    font-weight: 900;
}


.my-hd-link{
    color: white;
    text-decoration: none;
}

.my-hd-link:hover{
    color: white;
}

/* ! jumbotron */
.jumbotron{
    background-color:#1abc9c ;
}
.my-user-svg{
    width:50%;
}
.my-sml-title{
    font-size: 1.5rem;
}
.my-sml-h2{
    font-size: 1rem;
}

/* ! portfolio */
.portfolio{
    padding-top: 1rem;
}
.my-img-small{
    width:100%;
    margin-bottom: 1rem;
}


/* About */
.about{
    background-color: #1abc9c;
    color: white;
}

.my-small-box-height{
    height: 30px;
    margin-bottom: .5rem;
   /*  margin-bottom: 1rem; */
}


.my-height-20{
    height: 300px;
}


