
/* ? star line */
.bi-star-fill{
    font-size: 1.8rem;
}

.my-star-line-white{
    width: 80px;
    border-bottom: 3px solid white;
}

.my-white-star{
    color: white;
}

.my-blue-star{
    color:#3a546d;
}

.my-star-line-blue{
    width: 80px;
    border-bottom: 3px solid #3a546d;
}

.my-dark-blue{
    background-color: #3a546d;
}

/* ? ****** */

/* ! Header  */
.my-full-width-navbar-small{
    width: 100%;
}
.my-header-title{
    font-size: 1rem;
}

.my-navbar{
    font-weight: 900;
    color: white;
}
/* ! jumbotron */
.jumbotron{
    background-color:#1abc9c ;
}
.my-user-svg{
    width:50%;
    margin-bottom: 1rem;
}


/* ! portfolio */
.portfolio{
    padding-top: 1rem;
}
.my-img-small{
    width:100%;
    margin-bottom: 1rem;
    border-radius: 20px;
}
/* About */
.about{
    background-color: #1abc9c;
    color: white;
}

.my-small-box-height{
    height: 30px;
    margin-bottom: .5rem;
   /*  margin-bottom: 1rem; */
}


.my-height-20{
    height: 300px;
}

/* ! section about */
.my-margin{
    margin: 0 20px;
}

.my-outline-btn{
    border: 1px solid white;
}
/* !section contact */
.contact form{
    width: 100%;
}
.contact form label{
    display: block;
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.3rem;
}

.contact form input{
    border: none;
    display: block;
    border-bottom: 2px solid #2c3e50;
    margin-bottom: 1rem;
}

.contact form textarea{
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid #2c3e50;
}

.contact form input:focus-visible{
    outline-style: none;
}

.contact form textarea:focus-visible{
    outline-style: none;
}

.my-input-size{
    height: 1rem;
    width: 100%;
}

.my-text-area{
    width: 100%;
}

.my-submit-btn{
    background-color: #1abc9c;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    color:white;
}


/* ! Footer */
.my-footer{
    color: white;
}

.my-footer-top{
    background-color:#3a546d ;
}

.my-footer-top p{
    font-size: 1.2rem;
}

.my-footer-top-social .bi{
    font-size: 1.4rem;
}

.my-footer-bottom{
    background-color:rgb(44, 62, 80);
    font-size: 1rem;
}

.my-footer-word{
    color: #1abc9c;
}

.my-footer h5{
    font-weight: 600;
}



